.experience__container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.experience__container > div{
    background: var(--color-bg-varient);
    padding: 1rem 3rem;
    border-radius: 1.5rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.experience__container > div:hover{
    background: transparent;
    border-color: var(--color-bg-varient);
    cursor: pointer;
    transition: var(--transition);
    color: var(--color-primary);
}